.i {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    margin:10px 0;
}

img {
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    margin-bottom: 10px;
}